#about{
    padding: 4% 5%;
    display: flex; 
    flex-wrap: wrap;
}

#about h3{
    width: 100%;
    padding: 5% 0;
}

.about-text{
    padding: 1.5% 10% 1.5% 12%;
    text-align: justify;
}

.about-text-pic{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 5%;
}

.about-pic{
    border-radius: 20%;
    box-shadow: 0px 0px 30px #5c21aa;
    margin: 3% 5% 1% 0;
}
