h1 {
  font-size: 6rem;
  color: #69c913;
}

button {
  font-size: 1.8rem;
}

h2 {
  font-size: 3.5rem;
  color: #07cae8;
}

h3{
  font-size: 3rem;
  color: #07cae8;
}

h4{
  font-size: 2.8rem;
}

p,
a {
  font-size: 1.6rem;
  color: #859aaf;
}

.copyright p {
  font-size: 1.2rem;
}

.Portfolio {
  text-align: center;
  scroll-behavior: smooth;
  background-color: #0b081f;
}

section{
  scroll-behavior: smooth;
}