header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #091941;
    justify-content: center;
}

header .navbar{
    width: 50%;
    padding: 0% 1%;
    margin: 2% 0 1% 0;
}

header .nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .nav-item {
    width: 18.25%;
    padding: 2%;
    background-color: #394f89;
    cursor: pointer;
    font-size: 1.75em;
    transition: 0.3s;
    letter-spacing: 1px;
    border-radius: 50%;
}

header .nav-item:hover {
    transform: scale(1.1);
    font-size: 1.9em;
    border-radius: 40%;
}
.resume-span{
    width: 100%;
    color: #07cae8;
}
