/* For all projects: */
#projects{
    padding: 4% 5%;
    display: flex; 
    flex-wrap: wrap;
}

#projects h3{
    width: 100%;
    padding: 5% 0;
}

#projects h4 {
    width: 100%;
    padding: 1% 0 3%;
}

#projects h4 a{
    color: #07cae8;
    font-size: 3rem;
    margin: 10%;
}

.github{
    width: 5%;
    cursor: pointer;
}

.project-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2.5% 0;   
}

.text-box{
    display: flex;
    align-content: center;
    align-items: center;
    width: 40%;
    padding: 0 2%;
}

.p-div p{
    padding: 2% 0;
}

.p-div.right{
    padding-left: 6%;
}

.p-div.left{
    padding-right: 6%;
}

.pic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    padding: 1%;
}

.pic p {
    width: 100%;
}

.tictactoe {
    background-color: white;
    width: 100%;
}

.border {
    width: 100%;
    padding: 2% 0;
    border: 1px solid #5c21aa;
    box-shadow: 0px 0px 30px #5c21aa;
    border-radius: 4%;
}

.right .text-box{
    padding-bottom: 1.5%;
}

/* Character Randomization Project: */
/* Will eventually be for all projects with text on the right side:  */
.npc-pic{
    width: 100%;
}

.github.right {
    margin: 48% 3% 0 0;

}

/* Austin Animal Shelter Project: */
/* Will eventually be for all projects with text on the left side:  */
.github.left {
    margin: 48% 0% 0 3%;
}